<config template="project (default)" platform="project">Created: Sun 16. Feb 22:50:34 2014&#xd;
By: Lizi Attwood&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="SFAS" name="name" fromDef="true"/>
    <option value="SFAS" name="caption" fromDef="true"/>
    <option value="Zinbo" name="provider" fromDef="true"/>
    <option value="(C) Zinbo" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
