<config template="project (default)" platform="project">Created: Sun 16. Feb 22:50:34 2014&#xd;
By: Lizi Attwood&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="SFAS" name="name"/>
    <option fromDef="true" value="SFAS" name="caption"/>
    <option fromDef="true" value="Zinbo" name="provider"/>
    <option fromDef="true" value="(C) Zinbo" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
